@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

$ff: 'Raleway', sans-serif;


.feedback {
        box-sizing: border-box;
        padding: 40px 0;
        box-sizing: border-box;
        .wrap {
            max-width: 1115px;
        }
		// .feedback__wrap

		&__wrap {

		}

		// .feedback__title

		&__title {
            margin-bottom: 15px;
            max-width: 950px;
            margin: 0 auto;
            h2 {
                margin: 0;
                font-family: $ff;
                color: #495b69;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.15;
                display: block;
                text-align: left;
            }
		}

		// .feedback__slider

		&__slider-wrap {
            padding: 20px 40px;
            box-sizing: border-box;
            position: relative;
		}
        &__slider {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            padding: 20px;
            font-variant-numeric: lining-nums;
            .swiper-pagination {
                display: none;
            }
        }

		// .feedback__wrapper

		&__wrapper {
            display: flex;
            align-items: stretch;
		}

		// .feedback__slide

		&__slide {
            box-sizing: border-box;
            padding: 24px;
            height: auto;
            display: flex;
            flex-direction: column;
            min-height: 360px;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 7px 16px 0px rgba(73, 91, 105, 0.14);
            .slide-head {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                .name {
                    margin-bottom: 8px;
                    .user-name {
                        display: block;
                        color: #495b69;
                        font-family: $ff;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.13;
                    }
                    .stars {
                        display: flex;
                        align-items: center;
                        .num-star {
                            font-family: $ff;
                            font-size: 12px;
                            color: #545454;
                            font-weight: 600;
                            display: block;
                        }
                        .element-star{
                            display: flex;
                            align-items: center;
                            margin-right: 6px;
                        }
                        .elem {
                            width: 12px;
                            height: 12px;
                            margin-right: 4px;
                            &:last-child {
                                margin-right: 0;
                            }
                            background-image: url(assets/imgs/Star-outlined.png);
                            &.fill {
                                background-image: url(assets/imgs/Star-filled.png);
                            }
                        }
                    }
                }
                .img {
                    margin-right: 15px;
                    img {
                        display: block;
                        max-width: 100%;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
            }
            .slide-text {
                margin-bottom: auto;
                height: fit-content;
            }
            .slide-date {
                margin-top: 25px;
                span {
                    display: block;
                    font-family: $ff;
                    font-size: 12px;
                    font-weight: 400;
                    color: #545454;
                }
            }
            
		}

		// .feedback__nav

		&__nav {
            
		}

		// .feedback__prev

		&__prev {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            img {
                display: block;
                max-width: 100%;
            }
            &.swiper-button-disabled {
                opacity: .6;
            }
		}

		// .feedback__next

		&__next {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            &.swiper-button-disabled {
                opacity: .6;
            }
            img {
                display: block;
                max-width: 100%;
                transform: rotate(180deg);
            }
		}
}

@media(max-width:920px) {
    .feedback {
        &__title {
            h2 {
                padding: 0 20px;
            }
        }
        &__nav {
            display: none;
        }
        &__slider-wrap {
            padding: 0;
        }
        &__slider {
            padding-bottom: 65px;
            .swiper-pagination {
                display: block;
                bottom: 0;
                .swiper-pagination-bullet {
                    opacity: 1;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #FFF;
                    border: 1px solid #86c741;
                }
                .swiper-pagination-bullet-active {
                    background-color: #86c741;
                }
            }
        }
    }
}

@media(max-width:560px) {
    .feedback {
        &__title {
            margin-bottom: 5px;
            h2 {
                font-size: 20px;
            }
        }
        &__slide {
            .slide-text {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}